<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--L10n Service Client-->
    <bean id="l10nClient" class="ws.l10n.client.http.HttpMessageBundleClient">
        <constructor-arg value="${l10n.serviceUrl}"/>
        <constructor-arg value="${l10n.accessToken}"/>
    </bean>

    <!--Scheduled Message Bundle Context-->
    <bean id="scheduledL10nContext" class="ws.l10n.core.ScheduledReloadableMessageBundleContext">
        <constructor-arg ref="l10nClient"/>
        <constructor-arg value="${l10n.bundleKey}"/>
        <constructor-arg value="${l10n.bundleVersion}"/>
        <constructor-arg value="${l10n.reloadPeriod}"/>
    </bean>

    <bean id="messageSource" class="ws.l10n.spring.L10nBundleMessageSource">
        <constructor-arg ref="scheduledL10nContext"/>
    </bean>

</beans>